
<div class="row">
    <div class="col-xl-4 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div class="d-flex justify-content-between gap-4">
                    <div class="avatar-sm flex-shrink-0">
                        <span class="text-success fs-1">
                            <!-- <i class="bx bx-dollar-circle text-success"></i> -->
                            <i class="bi bi-check-circle-fill"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="fw-bolder counter-card  mb-3"><span class="counter-value" data-target="70">0</span></h3>
                        <p class=" fw-medium text-muted  fs-16 mb-1">Published Products</p>
                        <div class="d-flex align-items-center gap-2 hl-sm">
                            <h5 class="text-success fs-14 mb-0">
                                <i class="ri-arrow-up-line fs-14 align-middle"></i> 18.30 %
                            </h5>
                            <p class="text-muted mb-0">VS previous month</p>
                        </div>
                    </div>
                    
                </div>
            </div><!-- end card body -->
         
        </div><!-- end card -->
    </div><!-- end col -->
    <div class="col-xl-4 col-md-6">
        <!-- card -->
        <div class="card card-animate">
            <div class="card-body">
                <div>
                    <div id="updating_donut_chart" data-colors='[ "--tb-danger", "--tb-warning",  "--tb-info"]' class="apex-charts" dir="ltr"></div>
    
                 
                </div>
            </div><!-- end card body -->
         
        </div><!-- end card -->
    </div><!-- end col -->
 </div> <!-- end row -->

