<div class="col-xl-12">
  <div class="card p-4">
    <!-- meta data about product -->
    <header
      class="flex justify-content-sm-between flex-sm-row flex-column fs-16 pb-3 border border-0 border-bottom"
    >
      <div class="flex gap-2">
        Products | <strong class="text-sh-cyan">Product Name</strong>
      </div>
      <div class="flex gap-2 text-sh-orange">
        <i class="bi bi-star-fill"></i> Featured Product
      </div>
    </header>
    <!-- Product Statistics  -->
    <section class="pt-4 pb-4 border border-0 border-bottom">
      <!-- Header -->
      <div class="flex justify-content-between">
        <h3 class="fw-bold">Product Statistics</h3>
        <button class="btn shadow-none px-3 py-2 rounded-3 border">
          <i class="bi bi-three-dots text muted"></i>
        </button>
      </div>

      <!-- Statistics Cards -->
      <div class="row gap-3 w-100 m-auto mt-3">
        <!-- First Card -->
        <div class="col-md col-12 p-4 border rounded-4 flex gap-3">
          <div>
            <img
              src="assets/images/products/green-circle-check.svg"
              height="35"
              alt=""
            />
          </div>
          <div class="flex flex-column">
            <h5 class="fs-23 fw-bolder mb-0">520</h5>
            <p class="fs-16 text-muted mb-0">Items Sold</p>
          </div>
        </div>
        <!-- Second Card -->
        <div class="col-md col-12 p-4 border rounded-4 flex gap-3">
          <div>
            <img
              src="assets/images/products/box-with-arrows.svg"
              height="35"
              alt=""
            />
          </div>
          <div class="flex flex-column">
            <h5 class="fs-23 fw-bolder mb-0">
              10 <span class="fs-17 fw-medium">Items</span>
            </h5>
            <p class="fs-16 text-muted mb-0">Refund</p>
          </div>
        </div>
        <!-- Third Card -->
        <div class="col-md col-12 p-4 border rounded-4 flex gap-3">
          <div>
            <img src="assets/images/products/growth.svg" height="35" alt="" />
          </div>
          <div class="flex flex-column">
            <h5 class="fs-23 fw-bolder mb-0">
              10,653 <span class="fs-17 fw-medium">SAR</span>
            </h5>
            <p class="fs-16 text-muted mb-0">Total Earnings</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Product Details -->
    <section class="mt-4">
      <h3 class="fw-bold mb-3">Product Details</h3>
      <div class="row">
        <!-- product images -->
        <div class="row col-lg-5 col-12">
          <div class="col-12">
            <img
              src="assets/images/products/product-image-1.png"
              alt="product"
              class="w-100 h-100 object-cover rounded-4"
              width="300"
            />
          </div>
          <div class="flex gap-2 mt-3">
            <button
              class="btn w-20 border border-primary border-3 p-1 rounded-3 avatar-sm"
            >
              <img
                src="assets/images/products/product-image-1.png"
                alt="product"
                class="w-100 h-100 object-cover rounded-3"
                width="50"
              />
            </button>
            <button class="btn w-20 rounded-3 avatar-sm p-0">
              <img
                src="assets/images/products/product-image-1.png"
                alt="product"
                class="w-100 h-100 object-cover rounded-3"
                width="50"
              />
            </button>
            <button class="btn w-20 rounded-3 avatar-sm p-0">
              <img
                src="assets/images/products/product-image-1.png"
                alt="product"
                class="w-100 h-100 object-cover rounded-3"
                width="50"
              />
            </button>
            <button class="btn w-20 rounded-3 avatar-sm p-0">
              <img
                src="assets/images/products/product-image-1.png"
                alt="product"
                class="w-100 h-100 object-cover rounded-3"
                width="50"
              />
            </button>
            <button class="btn w-20 rounded-3 avatar-sm p-0">
              <img
                src="assets/images/products/product-image-1.png"
                alt="product"
                class="w-100 h-100 object-cover rounded-3"
                width="50"
              />
            </button>
          </div>
        </div>

        <!-- Product Main Information -->
        <div class="col-lg-7 col-12 mt-lg-0 mt-4 p-0 ps-md-4 ps-sm-2">
          <!-- Header -->
          <div class="pb-1 border border-0 border-bottom fs-16">
            <span class="d-block text-muted">Bosch</span>
            <h4 class="fw-bold fs-24 mb-1">Automatic Transmission Gearbox</h4>
            <div class="flex gap-2">
              <p class="flex gap-1">
                <i class="bi bi-star-fill"></i>
                4.8
              </p>
              <p class="text-muted">( 256 Reviews )</p>
            </div>
          </div>

          <!-- Price -->
          <h4 class="fw-bold fs-24 mb-1 mt-2 flex gap-4 align-items-baseline">
            2,545 SAR <span class="text-success fs-16">20 In Stock</span>
          </h4>

          <!-- Product Properties -->
          <div class="flex flex-column gap-3 fs-16 mt-3">
            <div class="row">
              <div class="col-6">
                <p class="text-muted mb-0">Category</p>
                <p class="mb-0">Instrumentation / Adaptors</p>
              </div>
              <div class="col-6">
                <p class="text-muted mb-0">Unit</p>
                <p class="mb-0">PCS</p>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <p class="text-muted mb-0">Manufacturer Part Number</p>
                <p class="mb-0">HDI 1 ADAPTER CABLE</p>
              </div>
              <div class="col-6">
                <p class="text-muted mb-0">Machine Name</p>
                <p class="mb-0">COMEXI FLEXOGRAPHIC</p>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <p class="text-muted mb-0">SID</p>
                <p class="mb-0">3DPSP-005</p>
              </div>
              <div class="col-4">
                <p class="text-muted mb-0">Weight</p>
                <p class="mb-0">3 KG</p>
              </div>
              <div class="col-4">
                <p class="text-muted mb-0">Warrenty</p>
                <p class="mb-0">3 Months</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
