// Primary Color
$sh-navy-blue: #081a3b;

// Primary Neutral Colors
$sh-text-dark: $sh-navy-blue;
$sh-text-grey: #5a7184;
$sh-text-grey-100: #959EAD;

// Body Background
$sh-body-bg: #f2f2f7;

// Table Header Bg
$sh-table-header-bg: #f4f6f8;

// Table Taps Bg
$sh-table-tap-bg: #0FC2EE;

// SideBar Colors
$sh-sidebar-bg: #fcfdff;

$sh-sidebar-item-bg: #f4f6f8;
$sh-sidebar-links-line: #e5e7ea;

// Header Height
$sh-header-height: 93px;
