// Primary Color
$sh-navy-blue: #081a3b;

// Primary Neutral Colors
$sh-text-dark: $sh-navy-blue;
$sh-text-grey: #5a7184;

// SideBar Colors
$sh-sidebar-bg: #fcfdff;
$sh-sidebar-item-bg: #F4F6F8;
$sh-sidebar-links-line: #E5E7EA;

// Header Height
$sh-header-height: 93px;









