<div class="row">
  <div class="col-lg-12 container">
      <div class="card overflow-hidden">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-pills p-4 animation-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray active" data-bs-toggle="tab" href="#overview-tab" role="tab">
                    <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Overview</span>
                </a>
            </li>
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray" data-bs-toggle="tab" href="#products" role="tab">
                    <i class="ri-list-unordered d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Products</span>
                </a>
            </li>
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray" data-bs-toggle="tab" href="#team-members" role="tab">
                    <i class="ri-price-tag-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Team Members</span>
                </a>
            </li>
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray" data-bs-toggle="tab" href="#warerhouses" role="tab">
                    <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Warerhouses</span>
                </a>
            </li>
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray" data-bs-toggle="tab" href="#financials" role="tab">
                    <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Financials</span>
                </a>
            </li>
            <li class="nav-item rounded-5 btn-tap-bg-gray">
                <a class="nav-link fs-14 rounded-5 btn-tap-bg-gray" data-bs-toggle="tab" href="#reviews" role="tab">
                    <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span class="d-none d-md-inline-block">Reviews</span>
                </a>
            </li>
        </ul>
        </div>
          <div class="card-body">
              <div class="px-4">
                  <div class="row gy-4">
                    <h5 class="col-12 fs-17 mb-2">VAT & Registeration  Info</h5>
                    <div class="col-12 mt-1">
                      <div class="border border-1 d-sm-flex align-items-center justify-content-around rounded-3">
                        <div class="p-3">
                          <h5 class="fs-17 mb-2">Company Registeration number</h5>
                          <p class="mb-2 text-muted">
                            1232135499659889856
                          </p>
                        </div>

                        <div class=" p-3">
                          <h5 class="fs-17 mb-2">VAT Number</h5>
                          <p class="mb-2 text-muted">
                            1232135499659889856
                          </p>
                        </div>

                        <div class="">
                          <button type="button" class="btn px-3 rounded-3 border border-2">Download documents</button>                      
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="card-body">
              <div class="px-4">
                  <div class="row gy-4">
                    <h5 class="col-12 fs-17 mb-2">Shipping Terms</h5>
                    <div class="col-12 mt-1">
                      <div class="border border-1 d-sm-flex align-items-center justify-content-around rounded-3">
                        <div class="p-3">
                          <p class="mb-2 text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus pellentesque interdum nunc enim vulputate. Vel nec laoreet scelerisque massa. Turpis elementum in vitae facilisi imperdiet. Sed ac faucibus vitae facilisi egestas blandit vitae, senectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus pellentesque interdum nunc enim vulputate. Vel nec laoreet scelerisque massa. Turpis elementum in vitae facilisi imperdiet. Sed ac faucibus vitae facilisi egestas blandit vitae, senectus.
                          </p>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->