<div class="row">
  <div class="col-lg-12">
      <div class="card overflow-hidden">
      <!-- meta data about Seller -->
        <header
          class="p-4 flex justify-content-sm-between flex-sm-row flex-column fs-16 pb-3 border border-0 border-bottom">
          <div class="flex gap-2">
            Sellers | <strong class="text-sh-cyan">View Profile</strong>
          </div>
        </header>
      <!-- Seller Statistics  -->
          <div class="card-body">
              <div class="pt-3">
                  <div class="row justify-content-between gy-4">
                    <div class="col-xl-12 col-lg-12 d-md-flex">
                        <div class="mt-n1">
                          <img src="assets/images/users/avatar.png" alt="" class="avatar-lg rounded-circle p-1 mx-3">
                        </div>
                        <div class="">
                          <div class="row">
                            <div class="col hstack gap-1 mb-2 text-muted">
                                <div class="me-2">ELECTRIC</div>
                            </div>
                            
                            <div class="col text-end dropdown"> <a href="javascript:void(0);" data-bs-toggle="dropdown" aria-expanded="false"> <i class="ri-more-fill fs-17"></i> </a>
                              <ul class="dropdown-menu dropdown-menu-end">
                                  <li><a class="dropdown-item edit-list" href="#addmemberModal" data-bs-toggle="modal" data-edit-id="12">Send Warning</a></li>
                                  <li><a class="dropdown-item remove-list text-danger" href="#removeMemberModal" data-bs-toggle="modal" data-remove-id="12"><i class="bi bi-slash-circle me-2 align-bottom text-danger"></i>Block</a></li>
                              </ul>
                            </div>
                          </div>

                          <h5 class="fs-17 mb-2">Schneider Electric<span class="badge badge-soft-success mx-3">Active</span></h5>
                          
                          <p class="mb-2 text-muted pb-3 border border-0 border-bottom ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus pellentesque interdum nunc enim vulputate. Vel nec laoreet scelerisque massa. Turpis elementum in vitae facilisi imperdiet. Sed ac faucibus vitae facilisi egestas blandit vitae, senectus.
                          </p>

                          <div class="gap-1 mb-2 text-muted d-sm-flex">
                              <div class="me-2"><i class="bi bi-envelope me-1 fs-16 align-middle"></i> Alaa@tremoloo.com</div>
                              <div class="me-2"><i class="bi bi-telephone me-1 fs-16 align-middle"></i> +966 3123432</div>
                              <div class="me-2"><i class="bi bi-geo-alt me-1 fs-16 align-middle"></i> Saudi Arabia</div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end row-->